<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%p] [%c{1}.%M:%L] - %m%n</Pattern>
        </layout>
    </appender>

    <!-- <logger name="org.springframework" level="TRACE" />  -->
	<logger name="org.springframework.web.servlet.mvc.method.annotation.ServletInvocableHandlerMethod" level="TRACE" additivity="false"/> 
	
    <logger name="net.sf.ehcache">
        <level value="ERROR"/>
    </logger>

    <!-- Suppress success logging from InteractiveAuthenticationSuccessEvent -->
    <logger name="org.springframework.security">
        <level value="WARN"/>
    </logger>
    <logger name="org.apache">
        <level value="WARN"/>
    </logger>
    <logger name="com.mchange">
        <level value="INFO"/>
    </logger>
    <logger name="org.apache.velocity">
        <level value="WARN"/>
    </logger>
    <logger name="org.hibernate">
        <level value="WARN"/>
    </logger>
  
<!-- 	<logger name="org.hibernate.SQL"> -->
<!-- 		<level value="DEBUG"/> -->
<!-- 	</logger> -->
  
<!-- 	<logger name="org.hibernate.type"> -->
<!-- 		<level value="DEBUG"/> -->
<!-- 	</logger> -->
  
<!-- 	<logger name="org.hibernate.hql"> -->
<!-- 		<level value="DEBUG"/> -->
<!-- 	</logger> -->

    <logger name="org.springframework.web">
        <level value="WARN"/>
    </logger>
    <logger name="org.springframework.beans">
        <level value="WARN"/>
    </logger>
    <logger name="org.springframework.context">
        <level value="WARN"/>
    </logger>
    <logger name="org.springframework.aop">
        <level value="WARN"/>
    </logger>   
    <logger name="ba.nalaz.oneview">
        <level value="DEBUG"/>
    </logger>
    
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>