/***
Login page
***/

/* logo page */
.login {
    /*background-color: #444 !important;*/
    background-color: #ffffff !important;
    /*background-image: url(../../img/login-bg.png);*/
    background-size: cover;
    background-repeat: no-repeat;

}

.login .logo {
    /*width: 120px;*/
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 10px;
    text-align: center;
    background-color:#fff;
    /*width: 291px;*/
}
.login .content {
    background-color:#f5f5f5;
    width: 584px;
    margin: 0 auto;
    margin-bottom: 0px;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
    /*border: 1px solid #999;*/
}
.login .content.signupform {
	width: 900px;
}

.login .content h3 {
    color: #000;
}
.login .content h4  {
    color: #555;
}

.login .content p {
    color: #222;
}

.login .content .login-form,
.login .content .forget-form {
    padding: 0px;
    margin: 0px;
}

.login .content .m-wrap {
    width: 249px;
    border-left: 0 !important;
}

.login .content .input-icon {
    border-left: 2px solid #0E51A7 !important;
}

.login .content .control-group {
    margin-bottom: 20px !important;
    width: 284px;
    float:left;
}
.login .content .control-group .controls {

}

.login .content .control-group.password {
   float:right;
}

.login .content .control-group.password .controls {
    float:right;
}

.login .content .input-icon .m-wrap {
    margin: 0px !important;
    padding-left: 25px !important;
    background-color: #fff;
}
.icon-user:before, .icon-lock:before {
    padding: 10px 0 0 10px;
    position:absolute;
}
.login .content .forget-form {
    display: none;
}

.login .content .register-form {
    display: none;
}

.login .content .form-title {
    font-weight: 600;
    margin-bottom: 25px;
    text-transform: uppercase;
    border-bottom: solid 1px #eee;
    padding-bottom: 20px;
}
.span12 {

}
.page-title, .breadcrumb {
    width:45%;
    float:left;
}
.breadcrumb {
    width:auto;
    margin: 19px 0;
    background-color: transparent;
    float: right;
}

.login .content .form-actions {
    background-color: transparent;
    clear: both;
    border: 0px;
    border-bottom: 1px solid #eee;
    padding: 0px 0px 25px 0px;
}

.login .content .forget-form .form-actions {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 20px;
}

.login .content .register-form .form-actions {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0px;
}

.login .content .form-actions .checkbox {
    margin-top: 8px;
    display: inline-block;
}

.login .content .forget-password {
    margin-top: 25px;
    font-size: 1.2em;
}
.login .content .forget-password a {
    font-weight:bold;
    color: #333;
}

.login .content .create-account {
    border-top: 1px dotted #eee;
    padding-top: 10px;
    margin-top: 15px;
}

.login .content .create-account a {
    display: inline-block;
    margin-top: 5px;
}

.login .copyright {
    text-align: center;
    width: 250px;
    margin: 0 auto;
    padding: 10px 10px 0 10px;
    color: #999;
    font-size: 11px;
}
.login .content .form-actions .btn {
    background-color: #68D108;
    width: 130px;
    margin-top: 1px;
}
.login .content .form-actions a.btn {
    width: 102px;
}

.checkbox {
     float: left;
 }

.checkbox input[type="checkbox"] {
    float: left;
    margin-left: 0;
    margin-right: 10px;
}

.deco-banner {
    background-image: url(../../img/login.jpg);
}

.input-icon.left i {
	margin-left: 1px;
	margin-top: 0px;
    width: 0;
 }
 
#gsa ol {
    counter-reset: item;
}
#gsa ol li {
    display: block;
    position: relative;
}
#gsa ol ol li {	
	margin: 10px 0px;
}
#gsa ol li {	
  margin-top: 20px;
}
#gsa ol li:before {
    content: counters(item, ".")".";
    counter-increment: item;
    position: absolute;
    margin-right: 100%;
    right: 10px;
	font-weight: bold;
}
.gsa-form {
	margin-top: 20px;
}
.gsa-form .control-group {	
	width: 350px !important;
}

#gsa ol {
    counter-reset: item;
}
#gsa ol li {
    display: block;
    position: relative;
}
#gsa ol ol li {	
	margin: 10px 0px;
}
#gsa ol li {	
  margin-top: 20px;
}
#gsa ol li:before {
    content: counters(item, ".")".";
    counter-increment: item;
    position: absolute;
    margin-right: 100%;
    right: 10px;
	font-weight: bold;
}
.gsa-form {
	margin-top: 20px;
}
.gsa-form .control-group {	
	width: 350px !important;
}
a.error-bold {
	font-weight: bold;
	color: #b94a48;
}
.login .content.signupform .form-horizontal .control-group {
	/*width: 400px;*/
}
.signupform .form-horizontal .control-label {
	/*margin-left: 140px;*/
}
.signupform .form-horizontal .controls {
	/*margin-left: 150px;*/
}

@media (max-width: 480px) {
    /***
    Login page
    ***/
    .login .logo {
        margin-top:0px;
    }

    .login .content {
        padding: 30px;
        width: 222px;
    }

    .login .content h3 {
        font-size: 22px;
    }

    .login .content .m-wrap {
        width: 180px;
    }

    .login .checkbox {
        font-size: 13px;
    }
}