<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<body>
    <div>
        Hello  ${firstName}&nbsp;${lastName},<p/>

        <span>As you requested, your password has now been reset. Your new details are as follows: </span>
        <br>
         URL:<a href="http://${url}">${url}</a><p/>

         Username:&nbsp; ${userName}   <br>
         Password:&nbsp; ${password}


        <br><br>
        <span>nalaz Administrator  </span>
    </div>
</body>
</html>
